@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Merriweather", serif;
}

/* banner section style starts here */

.banner-container{

    max-width: 1320px;
    /* border: 2px solid red; */
    min-height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url('../resources/Banner\ Image.png');
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.banner-content p , h1 {
    color: white;
    

}
.banner-content p{
    font-size: 32px;
    font-weight: 400;

}

.banner-content h1{
    font-size: 72px;
    font-weight: 900;

}


/* main part : 65% discount start here */
.second-section-container{
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 90px;
    
}

.second-section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.second-section-content h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;

    

}

.second-section-content p{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 30px;

}


.second-section-content h3{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}


.img-container{
    width: 802.9px;
    height: 500px;
}

.img-container img{
    width: 100%;
    height: 100%;
    margin-top: 40px;
}


/* midnight party section starts here */
.midnight-party-container{
    width: 1321px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    background-image: url('../resources/Vectorrr.png');
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 70px;
    margin-bottom: 100px;
}

.leftside-content{
    width: 50%;
    height: 600px;
    /* border: 2px solid green; */
    /* kisu majhe anar khetre */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;

}
.leftside-content h2{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;

}
.leftside-content p{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-left: 50px;
    margin-top: 20px;

}

#midnight-button{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-right: 400px;
}


.rightside-content{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 

}
.rightside-content img{
    width: 349.43px;
    height: 464.65px;
  
}


/* holiday section */
.holiday-section-container{
    width: 1320px;
    height: 986.07px;
    border: 2px solid red;
    margin: 0 auto;
    position: relative;
}

.holiday-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 1068px;
    height: 260px;
    margin: 0 auto;

}

.holiday-text-container h5{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.holiday-text-container h2{
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;
    letter-spacing: 0%;
    text-align: center;
}

.holiday-text-container p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

#holiday{
    color: rgb(255, 0, 0);
}

.solid-color{
    width: 1320px;
    height: 229px;
    background: rgb(255, 0, 0);
    position: absolute;
    top: 77%;
}

/* .gift-box{
    width: 674.82px;
    height: 577.96px;
    position: relative;
    z-index: 1;
} */